@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
  --c-primary: #3BBA9C;
  --c-secundary: #2E3047;
  --c-white: #fff;
  --c-background: #3C3F58;
}

body {
    width: 350px;
    padding: 10px;
    background-color: var(--c-background);
  }

.titulo-ext{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.titulo-ext h1{
  color: var(--c-primary);
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  letter-spacing: 1.2px;
}
.info{
  font-family: monospace;
  color: var(--c-white);
}
.container{
  background-color: var(--c-secundary);
  color: var(--c-white);
  padding: 5px 10px;
}
.container-buttons{
  display: flex;
  justify-content: space-between;
}
.copy-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.copied-text{
  display: none;
  color: var(--c-primary);
}

.dev{
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: var(--c-white);
}

.developed-by {
  background-color: var(--c-secundary);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 5px;
  align-items: center;
  text-align: center;
}

.div__coffe {
  display: grid;
  grid-template-columns: auto auto;
  align-items: right;
}

.div__coffe a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--c-white);
  text-align: left;
  font-size: 12px;
}
.div__coffe img {
  width: 30px;
  height: 30px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  z-index: 1000; /* Asegura que esté en la parte superior */
  display: none;
}
.data-error{
  background-color: var(--c-secundary);
  color: var(--c-white);
  padding: 5px 10px;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
}

.loader {
  border: 4px solid var(--c-primary); /* Color del loader */
  border-top: 4px solid transparent; /* Parte superior transparente para el efecto de giro */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Animación de giro */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*CSS ICON*/
.gg-copy {
  color: var(--c-primary);
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 14px;
  height: 18px;
  border: 2px solid;
  margin-left: -5px;
  margin-top: -4px
  }
 
  .gg-copy::after,
  .gg-copy::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
  }
 
  .gg-copy::before {
  background:
  linear-gradient( to left,
  currentColor 5px, transparent 0)
  no-repeat right top/5px 2px,
  linear-gradient( to left,
  currentColor 5px, transparent 0)
  no-repeat left bottom/ 2px 5px;
  box-shadow: inset -4px -4px 0 -2px;
  bottom: -6px;
  right: -6px;
  width: 14px;
  height: 18px
  }
 
  .gg-copy::after {
  width: 6px;
  height: 2px;
  background: currentColor;
  left: 2px;
  top: 2px;
  box-shadow: 0 4px 0,0 8px 0
  } 
  .gg-plug {
    color: var(--c-primary);
    position: relative;
    display: block;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 20px
   }
   
   .gg-plug::after,
   .gg-plug::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-plug::before {
    width: 12px;
    height: 10px;
    border: 2px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 5px
   }
   
   .gg-plug::after {
    width: 2px;
    height: 4px;
    background: currentColor;
    left: 2px;
    border-radius: 22px;
    box-shadow:
    6px 0 0,
    3px 14px 0,
    3px 16px 0
   } 

#currencySelector, #currencyConverterSelector{
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  border-color: var(--c-primary);
  text-align: left;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0.16px;
  min-height: 32px;
  line-height: 1.29;
  color: var(--c-primary);
  font-weight: 400;
  transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
}

/* Estilo básico para los botones de las pestañas */
.tablinks {
  background-color: var(--c-background);
  color: var(--c-white);
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

/* Estilo cuando el mouse pasa por encima de las pestañas */
.tablinks:hover {
  background-color: var(--c-primary);
}


.tablinks.active {
  background-color: var(--c-primary); 
  color: #fff;
}
.tabcontent {
  border: 1px solid var(--c-primary);
  display: none;
}
.tabcontent.active {
  display: block; 
}

.tableConvert {
  border-collapse: collapse;
  width: 100%; 
  margin-top: 15px;
}

.tableConvert th, .tableConvert td {
  color: var(--c-white);
  /* padding: 10px; */
  text-align: center;
  width: 33.33%; 
}
#info-valor{
  font-size: 22px;
  color: var(--c-primary);
  margin: 0px;
}
#valor-divisa{
  font-weight: bold;
  font-size: 18px;
}


.tableConvert #valor-input {
  width: 100%; 
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding: 8px;
  font-size: 18px;
}


.btnChangeCurrency{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.gg-arrows-exchange-alt {
  color: var(--c-primary);
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 14px
 }
 
 .gg-arrows-exchange-alt::after,
 .gg-arrows-exchange-alt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  background: currentColor;
  border-radius: 4px
 }
 
 .gg-arrows-exchange-alt::before {
  width: 6px;
  transform: rotate(-45deg);
  box-shadow: -2px -13px 0;
  right: 0;
  top: 10px
 }
 
 .gg-arrows-exchange-alt::after {
  width: 12px;
  box-shadow: 4px 4px 0;
  top: 4px
 } 

 a{
  color: var(--c-primary);
 }